rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /rooms/{room} {
      function isSignedIn() {
        return request.auth != null;
      }
      
      function isOwner(rsc) {
        return rsc.data.owner == request.auth.uid;
      }

      function isViewer(viewer) {
        return viewer == request.auth.uid;
      }

      // Allow users to read and create rooms if they're signed in
      allow read, create: if isSignedIn();

      // Allow the owner to update their room
      allow update: if isOwner(resource);

      match /viewers/{viewer} {
        // Allow users to join a room if they're signed in
        allow create: if isSignedIn();

        // Allow the owner and viewer to read, update and delete their own document
        allow get, update, delete: if isOwner(get(/databases/$(database)/documents/rooms/$(room))) || isViewer(viewer);

        // Allow the owner to list all viewers
        allow list: if isOwner(get(/databases/$(database)/documents/rooms/$(room)));

        match /caller-candidates/{candidate} {
          // Allow owner to create and update caller candidates
          allow write: if isOwner(get(/databases/$(database)/documents/rooms/$(room)))

          // Allow viewer to read and delete caller candidates
          allow read, delete: if isViewer(viewer)
        }

        match /callee-candidates/{candidate} {
          // Allow the viewer to create and update callee candidates
          allow write: if isViewer(viewer)

          // Allow the owner to read and delete callee candidates
          allow read, delete: if isOwner(get(/databases/$(database)/documents/rooms/$(room)))
        }
      }
    }
  }
}