.text-center {
  text-align: center;
}

.center {
  display: grid;
  place-content: center;
}

.video-player {
  background-color: black;
  object-fit: cover;
  width: 100%;
  min-width: 640px;
  height: 100%;
}

html {
  transition: background-color 0.5s, color 0.55s;
}
